{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis | Dipu</title>
    <link rel="stylesheet" href="{% static 'mlapp/css/styles.css' %}">   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="logo">Sentiment Analyzer</div>
    </header>
    <main>
        <h1>Sentiment Analysis Checker</h1>
        <p>Use sentiment analysis to quickly detect feelings and pain points.</p>
        <form method="post" class="form-container">
            {% csrf_token %}
            <textarea name="user_input" placeholder="Paste your own customer feedback, reviews or basic text"></textarea>
            <button type="submit">Analyze text now</button>
        </form>
    </main>
</body>

<footer>
    <p>
        This project was completed by @Dipu as part of an assignment for advance python course. <br>
        Submitted on: {{ today_date }}
    </p>
</footer>

</html>
